/**
 * @name starburst
 * @description A Discord theme for star-zi.
 * @author starburst
 * @version 1.0.3
 * @website https://github.com/star-zi
 * @source https://raw.githubusercontent.com/star-zi/starburst/main/starburst.theme.css
 * @authorId 709525409821229138
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/NormalizedForums.css");

:root {
  --accentcolor: 130,104,179;
  --accentcolor2: 255,173,252;
  --linkcolor: 130,104,179;
  --mentioncolor: 130,104,179;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --text-normal: 251,251,251;
  --text-muted: 182,182,182;
  --backgroundaccent: 18,18,18;
  --backgroundprimary: 13,13,13;
  --backgroundsecondary: 12,12,12;
  --backgroundsecondaryalt: 9,9,9;
  --backgroundtertiary: 9,9,9;
  --backgroundfloating: 12,12,12;
  --settingsicons: 1;
}

/* custom css below here
 * some code was taken from
 * #css-snippets channel in
 * the BetterDiscord server
*/

/* home button bg color */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: #0d0d0d;
}

/* game icon bg color */
#app-mount .gameIcon-1mDo1J {
    background-color: #00000000;
}

/* remove bottom border from MemberCount in sidebar */
#MemberCount {
    border-bottom: 0px !important;
}

/* hide gift button */
.buttons-uaqb-5>.button-f2h6uQ:not(.BD-TeX-plugin-button)> :not(.translateButton-DhP9x8) {
    display: none;
}

/* hide help button*/
.toolbar-3_r2xA .anchor-1MIwyf {
    display: none;
}

/* SpotifyControls seekbar color */
.timeline-UWmgAx:hover .barFill-Dhkah7 {
    background: #8268b3 !important;
}

/* mute/deafen strikethrough color */
.strikethrough-2Kl6HF {
    color: #7b64a7;
}

/* betterdiscord navbar color */
.colorInfo-1kEg3T {
    background-color: #8268b3;
    color: #fff;
}

/* replace user popout role bg color with same color as role */
.role-2TIOKu {
    transform: translate(0);
    overflow: hidden;

    --transparency: .4;
    border-radius: 5px;
}

.role-2TIOKu .roleRemoveIcon-387wKV {
    margin: 0;
    left: unset;
    transform: translate(50%,-50%);
}

.role-2TIOKu .roleRemoveButton-17oXnT {
    position: static;
}

.role-2TIOKu .roleCircle-3K9O3d:before {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: var(--transparency);
}

/* consistent account and server join date */
.discordMemberCreatedAtIconContainer-2oMHqL  {
    padding: 0px;
    background-color: var(--background-tertiary);
}

.discordMemberCreatedAtIcon-126if8 {
    width: 24px;
    height: 24px;
}

.discordMemberCreatedAtText-15sN5q>div{
    display: none;
}

.discordMemberCreatedAt-31OkT7>.discordMemberCreatedAtText-15sN5q>h3{
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    user-select: text;
}
